body {
  padding: 10px;
}
.container .card {
  width: 40rem;
  background-color: cornflowerblue;
  border-radius: 8px;
}

/* buttons */
button.button {
  border-radius: 8px;
}

/* Input fields */
#h_Uk .input-group {
  width: 45%;
  padding: 5px;
  margin: 2px;
}
.d-inline-flex {
  justify-content: space-between;
  width: 100%;
}
/* Headings */
h3 {
  padding-top: 3px;
}
